
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}


<div class="introduce">
    <div class="introduce-content">
        <div class="tieude-introduce">
            <h1>CỬA HÀNG BÁN GIÀY SNEAKER CHÍNH HÃNG TẠI BD - KING SHOES GIỚI THIỆU</h1>
        </div>
        <div class="noidung-introduce">
            <p>Nỗi sợ vì mua phải giày kém chất lượng, giày fake, từ nay không còn lo lắng nữa vì đã có <strong>KINGSHOES</strong>: hàng chính hãng nhập trực tiếp từ US, fullbox, nguyên tem.</p>
            <p>
                &#128081;
                <strong>&nbsp;KINGSHOES&nbsp;</strong>
                ✓10 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng.!!!
            </p>
            <p><strong>Đến với "KINGSHOES.VN”&nbsp;quý khách hàng sẽ có những sản phẩm ưng ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những&nbsp;“ Chương Trình Khuyến Mãi Đặc Biệt”.</strong></p>
        
            <p>&#128076;Sản phẩm chất lượng mà các dịch vụ đi kèm hấp dẫn nữa. Dân mê giày làm sao cưỡng lại <strong>KING SHOES</strong>!!!</p>
            <p><img alt="Cửa Hàng Bán Giày Sneaker Chính Hãng Tại HCM - KING SHOES Giới thiệu" height="750" src="https://kingshoes.vn/data/upload/media/Cua-hang-king-shoes-khai-truong-hinh-anh-thuc-te-8(1).jpg"></p>
            <p><p><strong>#Don't You Dare ?&nbsp;&#9996 &#9996</strong>&nbsp;&nbsp;<strong>KINGSHOES.VN "You're King In Your&nbsp;Way".!!!&nbsp;</strong>&nbsp;&#128095;&#128095;</p>
        
            <p><strong> &#128081; KING SHOES </strong> là một trong những nơi sưu tầm có khối lượng giày hiếm siêu khủng.</p>
            <p><img alt="Cửa Hàng Bán Giày Sneaker Chính Hãng Tại HCM - KING SHOES Giới thiệu" height="750" src="https://kingshoes.vn/data/upload/media/giay-sneaker-chinh-hang-HCM-King-Shoes-authentic-11(2).jpg" srcset="Cửa Hàng Bán Giày Sneaker Chính Hãng Tại HCM - KING SHOES Giới thiệu"></p>
            <p><strong>&#128081;KING SHOES CHUẨN GIÀY REAL - DEAL SIÊU KHỦNG</strong></p>
            <p>&#128073;Cửa Hàng <strong>KING SHOES</strong> là một trong những nơi sưu tầm có khối lượng giày hiếm siêu khủng.</p>
            <p>&#128073;Có những mẫu giày cực kì hype được giới sưu tầm săn lùng, thậm chí bạn sẽ bắt gặp nhiều mẫu lạ mới mà hiếm shop nào có.</p>
            <p>&#128073;Có những mẫu chỉ có độc nhất 1 đôi. Ngoài ra những mẫu đang rất HOT trên thị trường sneaker về liên tục nên các bạn cứ yên tâm không sợ hết hàng.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!4v1694943151782!6m8!1m7!1sCAoSLEFGMVFpcE0xb1lhcDgxU05LdXgyaWtVMVdIWmhUQlg5OElVbG5LcmVLbXVK!2m2!1d10.7968768!2d106.6535676!3f77.40174625739225!4f-1.2677664072799928!5f0.4000000000000002" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</div>


