
@{
    ViewBag.Title = "BaoMat";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="baomat">
    <h1>BẢO MẬT THÔNG TIN</h1>
    <p><b>HỘ KINH DOANH KING SHOES</b> cam kết sẽ bảo mật những thông tin mang tính riêng tư của khách hàng. Quý khách vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Bảo vệ thông tin cá nhân của người tiêu dùng và gây dựng được niềm tin cho bạn là vấn đề rất quan trọng với chúng tôi. Vì vậy, chúng tôi sẽ dùng tên và các thông tin khác liên quan đến bạn tuân thủ theo nội dung của chính sách này. Chúng tôi chỉ thu thập những thông tin cần thiết liên quan đến giao dịch mua bán.</p>
    <h3>CHÍNH SÁCH BẢO VỆ THÔNG TIN CÁ NHÂN CỦA NGƯỜI TIÊU DÙNG:</h3>
    <ul>
        <li><b>1. Thu nhập thông tin cá nhân :</b></li>
        <ul>
            <li>-Các thông tin thu thập thông qua website: https://Kingshoes.vn/ sẽ giúp chúng tôi:</li>
            <li>-Hỗ trợ khách hàng khi sử dụng dịch vụ tại HỘ KINH DOANH KING SHOES</li>
            <li>-Giải đáp thắc mắc khách hàng.</li>
            <li>-Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi.</li>
            <li>-Xem xét và nâng cấp nội dung và giao diện của Website.</li>
            <li>-Thực hiện các hoạt động quảng bá liên quan đến các dịch vụ của HỘ KINH DOANH KING SHOES</li>
            <li>-Để truy cập và sử dụng một số dịch vụ tại https://Kingshoes.vn/ quý khách có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. https://Kingshoes.vn/ không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.</li>
            <li>-Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến website: https://Kingshoes.vn/ Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào website https://Kingshoes.vn/ bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</li>
        </ul>
        <li><b>2. Sử dụng thông tin cá nhân:</b></li>
        <ul>
            <li>-https://Kingshoes.vn/ thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.</li>
            <li>-Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.</li>
        </ul>
        <li><b>3. Thời gian lưu trữ thông tin cá nhân:</b></li>
        <ul>
            <li>-Không có thời hạn ngoại trừ trường hợp Người Tiêu Dùng gửi có yêu cầu hủy bỏ tới cho Ban quản trị hoặc Công ty giải thể hoặc bị phá sản.</li>
        </ul>
        <li><b>4. Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân của người tiêu dùng:</b></li>
        <ul>
            <li>Người Tiêu Dùng đồng ý rằng, trong trường hợp cần thiết, các cơ quan/ tổ chức/cá nhân sau có quyền được tiếp cận và thu thập các thông tin cá nhân của mình, bao gồm:</li>
            <li>- Ban quản trị.</li>
            <li>- Bên thứ ba có dịch vụ tích hợp với Website https://Kingshoes.vn/ </li>
            <li>- Cơ quan nhà nước có thẩm quyền trong trường hợp có yêu cầu theo quy định tại quy chế hoạt động.</li>
            <li>- Bên khiếu nại chứng minh được hành vi vi phạm của Người Tiêu Dùng.</li>
            <li>- Theo yêu cầu của cơ quan nhà nước có thẩm quyền.</li>
        </ul>
    </ul>

    <img src="~/images/Chính sách/5.jpg" width="66%">
</div>

