
@{
    ViewBag.Title = "CheDoBaoHanh";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="baohanh">
    <p><b>CHÍNH SÁCH BẢO HÀNH SẢN PHẨM CHÍNH HÃNG</b></p>
    <table>
        <tbody>
            <tr>
                <th><b>NỘI DUNG CHÍNH SÁCH</b></th>
                <th><b>ĐIỀU KIỆN ÁP DỤNG</b></th>
            </tr>
            <tr>
                <td>
                    <b>1) BẢO HÀNH CÓ CAM KẾT TRONG 12 THÁNG</b><br>


                    - Chỉ áp dụng cho sản phẩm chính, KHÔNG áp dụng cho phụ kiện đi kèm sản phẩm chính.<br><br>

                    + Bảo hành trong vòng 15 ngày (tính từ ngày KINGSHOES nhận hàng ở trạng thái lỗi và đến ngày gọi khách hàng ra lấy lại hàng đã bảo hành).<br><br>

                    + Sản phẩm không bảo hành lại lần 2 trong 30 ngày kể từ ngày sản phẩm được bảo hành xong.<br><br>

                    + Nếu KINGSHOES vi phạm cam kết (bảo hành quá 15 ngày hoặc phải bảo hành lại sản phẩm lần nữa trong 30 ngày kể từ lần bảo hành trước), Khách hàng được áp dụng phương thức Hư gì đổi nấy ngay và luôn hoặc Hoàn tiền với mức phí giảm 50%.<br><br>

                    *Từ tháng thứ 13 trở đi không áp dụng bảo hành cam kết, chỉ áp dụng bảo hành hãng (nếu có).
                </td>
                <td>- Sản phẩm đủ điều kiện bảo hành của hãng.</td>
            </tr>
            <tr>
                <td>
                    <b>2) HƯ GÌ ĐỔI NẤY NGAY VÀ LUÔN (KHÔNG áp dụng cho Đồng hồ (ngoại trừ 3 hãng ELIO, SKMEI, SMILE KID), phụ kiện có điện)</b><br><br>

                    Sản phẩm hư gì thì đổi đó (cùng model, cùng dung lượng, cùng màu sắc...) đối với sản phẩm chính và đổi tương đương đối với phụ kiện đi kèm, cụ thể:<br><br>

                    <b>2.1) Hư sản phẩm chính thì đổi sản phẩm chính mới</b><br><br>

                    - Tháng đầu tiên kể từ ngày mua: miễn phí.<br><br>

                    - Tháng thứ 2 đến tháng thứ 12: phí 10% giá trị hóa đơn/tháng.<br><br>

                    (VD: tháng thứ 2 phí 10%, tháng thứ 3 phí 20%...).
                    - 15 ngày đầu tiên kể từ ngày mua: miễn phí.<br><br>

                    - Từ ngày 16 trở đi đến tháng thứ 12: phí 10% giá trị hóa đơn/tháng.<br><br>

                    (VD: tháng thứ 1 phí 10%, tháng thứ 2 phí 20%...).<br><br>

                    Lưu ý: Nếu không có sản phẩm chính đổi cho Khách hàng thì áp dụng chính sách Bảo hành có cam kết hoặc Hoàn tiền với mức phí giảm 50%.<br><br>
                    <b>2.2) Hư phụ kiện đi kèm thì đổi phụ kiện có cùng công năng mà KINGSHOES đang kinh doanh:</b><br><br>

                    Phụ kiện đi kèm được đổi miễn phí trong vòng 12 tháng kể từ ngày mua sản phẩm chính bằng hàng phụ kiện KINGSHOES đang kinh doanh mới với chất lượng tương đương.<br><br>

                    Lưu ý: Nếu không có phụ kiện tương đương hoặc Khách hàng không thích thì áp dụng bảo hành hãng.<br><br>


                    <b>2.3) Trường hợp Khách hàng muốn đổi full box (nguyên thùng, nguyên hộp): ngoài việc áp dụng mức phí đổi trả tại Mục 2.1 thì Khách hàng sẽ trả thêm phí lấy full box tương đương 20% giá trị hóa đơn.</b><br><br>

                    Ghi chú: Từ ngày 01/10/2021, riêng sản phẩm đồng hồ 3 hãng ELIO, SKMEI, SMILE KID sẽ được áp dụng 1 đổi 1 trong 12 tháng, không mất phí khi sản phẩm bị lỗi từ phía nhà sản xuất. Các hãng đồng hồ còn lại, chỉ áp dụng bảo hành có cam kết và hoàn tiền (lỗi hoặc không lỗi).
                </td>
                <td>
                    - Sản phẩm đổi trả phải giữ nguyên 100% hình dạng ban đầu và đủ điều kiện bảo hành của hãng.<br><br>


                    - Sản phẩm chỉ dùng cho mục đích sử dụng cá nhân, không áp dụng việc sử dụng sản phẩm cho mục đích thương mại.
                </td>
            </tr>
            <tr>
                <td>
                    <b>3) HOÀN TIỀN:</b> Áp dụng cho sản phẩm lỗi và không lỗi.<br><br>


                    - Tháng đầu tiên kể từ ngày mua: phí 20% giá trị hóa đơn.<br><br>


                    - Tháng thứ 2 đến tháng thứ 12: phí 10% giá trị hóa đơn/tháng.<br><br>
                </td>
                <td>
                    - Sản phẩm đổi trả phải giữ nguyên 100% hình dạng ban đầu và đủ điều kiện bảo hành của hãng.<br><br>

                    - Sản phẩm chỉ dùng cho mục đích sử dụng cá nhân, không áp dụng việc sử dụng sản phẩm cho mục đích thương mại.<br><br>

                    -Hoàn trả toàn bộ hàng khuyến mãi. Nếu mất hàng khuyến mãi sẽ thu phí theo mức giá đã được công bố.<br><br>
                </td>
            </tr>
        </tbody>
    </table>
</div>

