
@{
    ViewBag.Title = "ChinhSachDoiHang";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="doihang">
    <p>CHÍNH SÁCH ĐỔI HÀNG</p>
    <img src="~/images/Chính sách/4.jpg">
    <img src="~/images/Chính sách/5.jpg">
</div>

