@model WebsiteGiayKingShoes.Models.User


@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div class="forgot-mk container">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                    <div class="invalid-feedback">Vui lòng nhập địa chỉ Email.</div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
            }
        </div>
    </div>
</div>

<style>
    .forgot-mk {
        margin-top: 150px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>


