
@{
    ViewBag.Title = "ResetConfirm";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="container">
    <h1>Đặt lại mật khẩu</h1>

    <div class="confirmation-message">
        <p>Mật khẩu đã được lại</p>
    </div>
</div>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 140px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, p {
        text-align: center;
        color: #333;
        font-size: 20px;
    }

    .confirmation-message {
        margin-top: 20px;
        padding: 10px;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        color: #3c763d;
        border-radius: 4px;
        font-size: 24px;
    }
</style>
